.PopUp {
  position: fixed;
  width: 950px;
  height: 900px;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.PopUp-inner {
  height: 100%;
  overflow-y: scroll;
}

#btn-close {
  position: absolute;
  right: -20px;
  top: -5px;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  margin-left: 15px;
  float: right;
  border-radius: 50%;
  border: none;
  background-color: #eac167;
  color: white;
  margin-top: -20px;
}

#btn-close:hover {
  background: #65b9be;
}

.user-photo {
  width: 100px;
}

.review-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-container h3 {
  color: rgb(98, 94, 91);
}

.review-container {
  background: rgba(101, 185, 190, 0.11);
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  font-size: .88rem;
  font-weight: 300;
  line-height: 2rem;
}

.review-container h3 {
  font-size: 30px;
  color: #eac167;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-container h3 span {
  font-weight: normal;
  color: rgb(154, 148, 143);
}

.check-mine {
  text-align: right;
  color: grey;
}

.PopUp-inner .image-container {
  height: 440px;
}

.PopUp-inner h2 {
  padding: 10px;
  font-size: 35px;
  color: rgb(98, 94, 91);
}

.Popup-Business-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2em;
  font-weight: 300;

}
.Popup-Business-reviews {
  text-align: center;
}

.Popup-Business-information h3 {
  color: #65b9be;
  font-weight: 300;
}
