.PopUp {
  position: fixed;
  width: 800px;
  height: 900px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  overflow-y: scroll;
  padding-left: 2em;
  padding-right: 1em;
  padding-top: 4em;

}

.PopUp button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin-left: 15px;
  float: right;
  border-radius: 50%;
  background-color: #eac8c8;
}

.user-photo {
  width: 100px;
}

.review-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-container {

}

.review-container {
  background: rgba(202, 173, 173, 0.13);
  border-radius: 3%;
  padding: 20px;
  margin: 30px;
  font-size: .88rem;
  font-weight: 300;
  line-height: 2rem;
}

.review-container h3 {
  font-size: 30px;
  color: #65b9be;
}

.check-mine {
  text-align: right;
  color: grey;
}
